/* font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin: 0;
    padding: 0;
}
/* Header style */
.new-year-title {
    font-size: 65px;
    padding-top: 100px;
    color: white;
    text-align: center;
}
.new-year-party{
    font-size: 100px;
    color: white;
    text-align: center;
}
.bg-image{
    height: 600px;
    width: 1320px;    
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;   
}
/* offer */
.offers{
    font-size: 85px;
    font-weight: bolder;
    color: red;
    text-align: center;
    margin: auto;    
}
.sub-title{
    font-size: 24px;
    font-weight: 600;
    color: red;
    text-align: center;
}
.offer-title{
     font-size: 40px;
    font-weight: 600;
    color: rgb(10, 10, 10);
    text-align: center;
}
.new-year-image{
    display: block;
    margin: 0 auto;
    padding-top: 20px;   
}
/* party style */
.party-title {
    font-size: 85px;
    padding-top: 100px;
    color: white;
    padding-left: 40px;
}
.party-bg-image{
    height: 600px;
    width: 1320px;    
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../images/Vectorrr.png");    
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;
    display: flex;
    border-radius: 10px;    
}
.party-description{
    font-size: 20px;
    color: #e9e5e5;
    padding-left: 40px;
    width: 697px;    
}
.btn-1{
    font-size: 24px;     
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}
.party button{
   margin-left: 40px;
   margin-top: 10px;
}
/* time line */
.time-line{
    text-align: center;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), white);
    width: 1320px;
    border-radius: 10px;
    margin: 50px auto;
    padding-top: 100px;
    
}
.text-line{
    font-size: 36px;
    color: black;
    font-weight: 700;
    padding: 5px;
 
}
.line-bg{
     font-size: 36px;
    color: rgb(245, 4, 4);
}
.btn-2{
    font-size: 24px;
    margin: 40px;
    padding: 15px;
    background-color: red;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
}
/* Best offer */
.sub-title-1{
    font-size: 25px;
    color: red;
}
.offer-title-2{
    font-size: 35px;
    color: rgb(31, 30, 30);
}
.best-offer{
    display: flex;
    gap:70px; 
    align-items: center;
    justify-items: center;
    margin: auto;
    width: 1320px;   
    justify-content: space-around;
}
.best-offer-1{
    width: 260px;
}
.circle{    
    width: 463px;
    height:463px;
    border-radius:50%;
    border: 10px solid red;
    padding: 48px;     
}
.best-offer-title{
    font-size: 48px;
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
}
.new-year{
    width: 276px;    
}
.Group-96{
    margin-top: 20px;
}
/* sale section */
.sale{
    width: 1320px;
    margin: auto;
    text-align: center;
    margin-top: 120px;
    height: 980px;
    
}
.sale-sub-title{
    font-size: 25px;

}
.sale-title{
    font-size: 72px;
    color: black;
}
.holiday{
 color: red;
}
.sale-description{
    margin: 0 120px;
    font-size: 18px;
}
.container{
    position: absolute;
    
    
}
.sale-discount{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.Group-75{
    z-index: 10;
}
.red-rectangle{
    position: relative;
    bottom: 180px;
}
/* portfolio style */
.container-Portfolio{
    width: 1320px;
    margin: 0 auto;
    
}
.protfolio-title{
    font-size: 48px;
    color: red;
    font-weight: bold;
}
.protfolio-description{
    font-size: 20px;
    color: #2d2c2ec7;
}
.image-1{
    display: flex;  
   gap: 15px;
    margin-top: 15px;
}
.image-2{
    margin-top: 15px;
    display: flex;  
   gap: 15px;
}